a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
.layoutContainer {
  border: 1px solid;
  width: 100%;
  height: 85vh;
}

.layoutContainer .sidebarContainer {
  border: 1px solid red;
}

.layoutContainer .bodyContainer {
  border: 1px solid blue;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  background-color: #f5f5f5 !important;
}

.app__container {
  height: 85vh;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
}

.main {
  min-height: 90vh;
}

.routerView {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 500px;
}

.sidebar {
  background-color: #3a3a3a;
  height: 100%;
  color: #DDDDDD;
  position: relative;
}

.sidebar .icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2em;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .icons__container .icon-button {
  width: 1em;
  height: 1em;
}

.sidebar .icons__container .icon-button .icon {
  color: #1e1e2f;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 0.8em;
}

.sidebar .sidebar__navigation {
  margin: auto;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar .sidebar__navigation .profile {
  margin: auto;
  width: 65px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.sidebar .sidebar__navigation .nav__link {
  margin: 0.5em auto;
}

.sidebar .sidebar__navigation .nav__link .icon {
  color: #DDDDDD;
  font-size: 2em;
  text-align: center;
}

.sidebar .bottom__navs {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.sidebar .bottom__navs .icon {
  color: #DDDDDD;
  font-size: 2em;
}

.home {
  margin: 0;
  padding: 0;
  background-color: #f3efef;
}

.home .messageBox {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #DDDDDD;
}

.home .messageBox .messageBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #DDDDDD;
  padding: 1em;
}

.home .messageBox .messageBox__body {
  height: 300px;
  overflow-y: scroll;
  padding: 1em;
  overflow-x: hidden;
}

.home .messageBox .messageBox__body::-webkit-scrollbar {
  display: none;
}

.home .messageBox .messageBox__body .send-message {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.home .messageBox .messageBox__body .send-message-text {
  background: #91ff35 !important;
}

.home .messageBox .messageBox__body .send-message .message-text:after {
  border-color: transparent #91ff35 transparent transparent !important;
}

.home .messageBox .messageBox__body .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .messageBox .messageBox__body .message .message-profile {
  margin-right: 1em;
}

.home .messageBox .messageBox__body .message .message-text {
  background: #fff;
  border-radius: 5px;
  padding: 0.5em;
  position: relative;
  display: block;
}

.home .messageBox .messageBox__body .message .message-text:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  top: 11px;
  left: -20px;
}

.home .messageBox .messageBox__footer {
  border-top: 2px solid #DDDDDD;
}

.home .messageBox .messageBox__footer .messageForm__iconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .messageBox .messageBox__footer .messageForm__iconsContainer button .v-icon {
  font-size: 1.3em;
  padding: 0.2em;
  margin: 0.3em;
}

.home .messageBox .messageBox__footer .messageForm__iconsContainer .left__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home .messageBox .messageBox__footer .text__area {
  border: none;
  width: 100%;
  padding: 0.5em;
}

.home .messageBox .messageBox__footer .text__area::-webkit-scrollbar {
  display: none;
}

.home .messageBox .messageBox__footer .text__area:focus {
  outline: none;
}

.chats {
  border: 1px solid #DDDDDD;
  background-color: #fff;
}

.chats .search__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  width: 100%;
  height: 2em;
  overflow: hidden;
}

.chats .search__section .search__form {
  border: 1px solid #DDDDDD;
  background-color: #f3efef;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  margin-right: 0.3em;
  font-size: small;
  width: 100%;
}

.chats .search__section .search__input {
  border: none;
}

.chats .search__section .icon {
  font-size: 1.2em;
}

.chats .search__section .search__button {
  margin: 0;
  padding: 0;
}

.chats .chats__container {
  margin-top: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 410px;
}

.chats .chats__container::-webkit-scrollbar {
  display: none;
}

.chats .chats__container .router-link-active {
  background-color: #DDDDDD;
  border: 1px solid greenyellow;
  cursor: pointer;
}

.chats .chats__container .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #DDDDDD;
  padding: 1em 0;
}

.chats .chats__container .chat .small__text {
  color: #858080 !important;
  font-weight: 400;
  font-size: small;
}

.chats .chats__container .chat img {
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.chats .chats__container .chat .chat__content {
  margin-left: 0.7em;
}

.chats .chats__container .chat .chat__content .chat__contentTop h5 {
  font-size: 0.9em;
  margin-right: 0.2em;
  color: #000;
  width: 5em;
}

.chats .chats__container .chat .chat__content .chat__contentTop h6 {
  font-size: 0.7em;
  margin-right: 0.2em;
  color: #000;
}

.chats .chats__container .chat .chat__content .chat__contentBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account {
  height: 90vh;
}

.landing__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__page img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 90vh;
  background-position: center;
  position: relative;
}

.landing__page .landing__pageContent {
  position: absolute;
  color: #fff;
  top: 5%;
  height: 80%;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.landing__page .landing__pageContent .heading {
  text-align: center;
  width: 100%;
}

.landing__page .landing__pageContent .heading h6 {
  font-weight: 600;
  margin-top: 0.5em;
  font-size: 1.3em;
}

.landing__page .landing__pageContent .heading img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.landing__page .landing__pageContent .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin .card {
  background-color: #fff;
  width: 50%;
  padding: 2em;
}

@media (max-width: 767px) {
  .signin .card {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .signin .card {
    width: 100%;
  }
}

.signin .card .signin__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
}

.signin .card .signin__header h5 {
  font-size: x-large;
}

.signin .card .signin__header h5 .v-icon {
  color: #10b301;
}

.signin .card .signin__header a {
  color: #10b301;
  -webkit-text-decoration: underline #10b301;
          text-decoration: underline #10b301;
}

.signin .card .signin__google {
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin .card form {
  width: 80%;
  margin: auto;
}

.signin .card form button {
  color: #fff;
  background-color: #10b301;
}

.signin .card .signup__form .form-control {
  margin-bottom: 0.5em;
}

.signin .card .signup__form p {
  font-size: small;
}

.contactDetails {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
}

.contactDetails .contactDetails__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactDetails .contactDetails__header img {
  margin-left: 1em;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
}

.contactDetails .contactDetails__body {
  border-top: 2px solid #DDDDDD;
  padding: 1em;
}

.contactDetails .contactDetails__body tr {
  padding: 2em;
}

.profileModal .v-dialog {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0 !important;
  color: springgreen 1px solid;
}
/*# sourceMappingURL=style.css.map */